img {
  max-width: 700px;
  margin-bottom: 50px;
}

body {
  background-color: black;
  color: #07f753;
}

button {
  color: #07f753;
  background-color: purple;
  font-weight: bold;
}

#playerNameInput {
  background-color: black;
}
